# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfvars
crash.log
override.tf
override.tf.json

# AWS credentials
.aws/
credentials

# OS
.DS_Store
*.swp
*~

# Python
__pycache__/
*.pyc
.env
venv/
